# データファイルを無視
*.csv
監督効果/*.csv

# 解析結果（画像・テキスト）を無視
*.png
*.txt
推定結果/*.png
推定結果/*.txt

# Rの作業用一時ファイルなどを無視
.Rhistory
.RData
.Rproj.user/

# 以下を追記してください
players_html/
players_text_batting/
players_text_pitching/
sub/
監督効果/
